// color code
$primary_color: #1976d2;
$primary_color_hover: #ffffff26;
$secondary_color: #c3002f;
$tri_color: #1669bb;
$base_color: #f2f2f2;
$h1_color: #333;
$h2_color: #333;
$para_color: #444;
$para_color_hover_bg: #dbdbdb;
$box_color: #ebebeb;
$white_color: #ffffff;
$black_color: #000000;
// toaster color code
$error_color: #ff4545;
$success_color: #008000;
// font size
$h1_font_size: 4rem;
$h2_font_size: 3.2rem;
$para_font_size: 1.6rem;
// font-weight
$font_weight_100: 100;
$font_weight_400: 400;
$font_weight_500: 500;
$font_weight_700: 700;